{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar salon</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evento_show',{'id': entity.Evento.id}) }}">
            Regresar al evento
        </a>
    </li>
</ul>
{% endblock %}
