{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Asignar alumnos al evento: "{{entity.Evento.Nombre}}"</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumnoevento',{'id':entity.Evento.id}) }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
